<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.wildlands.wildlandseducation"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.screen.portrait" />
.
    <application
        android:name=".DefaultApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Quiz"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Kaart"
            android:label="@string/title_activity_kaart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScreenSlidePagerActivity"
            android:label="Popup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MultiTouch"
            android:label="@string/title_activity_kaart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestSql"
            android:label="@string/title_activity_test_sql" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="Wildlands"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Filtermenu"
            android:label="@string/title_activity_filtermenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ChooseQuizGroup"
            android:label="@string/title_activity_view_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinQuiz"
            android:label="@string/title_activity_view_5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WaitForQuizStart"
            android:label="@string/title_activity_view_6"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view_11"
            android:label="@string/title_activity_view_11"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GenerateQuiz"
            android:label="@string/title_activity_generate_quiz"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TrackScores"
            android:label="@string/title_activity_track_scores"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view_12"
            android:label="@string/title_activity_view_12" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_13"
            android:label="@string/title_activity_view_13" >
        </activity>
        <activity
            android:name=".view_14"
            android:label="@string/title_activity_view_14" >
        </activity>
    </application>

</manifest>
